@charset "UTF-8";
header h1 {
  font-size: 500%;
  text-align: center;
}
/* login */
#login {
  margin: 30px auto;
  width: 480px;
  text-align: center;
}
.textright {
  text-align: center;
}
#login div {
  margin: 10px 0;
}
#login div label {
  font-size: 20px;
}
.button {
  margin: 10px 5px;
  font-size: 100%;
}
